.container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  /* font-family: monospace; */
}

.main_menu {
  background-image: url(https://api.foodso.me/uploads/frctExzx.jpg);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
}
.jeni {
  font-size: 10px;
  text-transform: capitalize;
  line-height: 30px;
  text-align: center;
  width: 100%;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  backdrop-filter: blur(5px);
  padding: 10px 12px;
  border-radius: 10px;
}

.card_2 {
  background-image: url(./images/WhatsApp\ Image\ 2024-04-21\ at\ 11.05.29\ PM-2.jpeg);
  line-height: 18px;
  background-repeat: no-repeat;
  margin: 5px 10px;
  border: none;
  padding: 5px 5px;
}
.card_1 {
  background-image: url(./images/WhatsApp\ Image\ 2024-04-21\ at\ 11.05.29\ PM.jpeg);
  line-height: 18px;
  background-repeat: no-repeat;
  margin: 5px 10px;
  border: none;
  padding: 5px 5px;
}

.card {
  border: none !important;
}
.card-body {
  padding: 10px !important;
}
.card-text {
  font-size: 12px;
}

.m_img_1 {
  background-color: transparent;
  border: 2px solid red;
}
.btn-primary {
  color: #fff;
  background-color: #5d792d !important;
  border-color: #5d792d !important;
}
.row {
  /* border: 2px solid red; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* add  button */
.fa-cart-plus {
  background: #0652dd;
}

.addtocart {
  display: block;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 100px;
  border: none;
  font-size: 2em;
  position: relative;
  background: #0652dd;
  cursor: pointer;
  height: 2em;
  width: 10em;
  overflow: hidden;
  transition: transform 0.1s;
  z-index: 1;
}
.addtocart:hover {
  transform: scale(1.1);
}
.pretext {
  color: #fff;
  background: #0652dd;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
}
i {
  margin-right: 10px;
}
.done {
  background: #be2edd;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;

  transform: translate(-110%) skew(-40deg);
}
.posttext {
  background: #be2edd;
}
.fa-check {
  background: #be2edd;
}
